<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <!--Template adapted from https://www.freecodecamp.org/news/basic-html5-template-boilerplate-code-example/ -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <style>
    body {
      background-color: #f1efd4;
    }
    h1 {
      font-family: "simulata";
      color: rgb(30, 30, 30);
      font-size: 3.3rem;
      position: absolute;
      top: 6px;
      left: 65px;
    }
  </style>
  <body>
    <svg width="500">
      <rect class="recto" x="98" y="24" height="45" width="45" fill="#E0C32B" />
      <ellipse cx="50" cy="52" rx="23" fill="#C92E2E" />
      <polygon points="83,15 45,83 121,83" fill="#3753B5" />
    </svg>
    <h1>PORTFOLIO</h1>
    <script src="script.js"></script>
  </body>
</html>
