/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* General */
:root {
  --color-light: #fffceb;
  --color-dark: #3753b5;
  --color-darker: #242424;
  --color-accent1: #c92e43;
  --color-accent2: #3753b5;
  --color-accent3: #1e9452;
  --font-display: "simulata";
  --font-header: "roboto";
  --font-p: "lato";
}

body {
  background-color: var(--color-light);
  margin: 0 auto;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: solid var(--color-darker) 1px;
  border-bottom: solid var(--color-darker) 1px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--color-darker);
  font-family: var(--font-display);
  font-weight: 900;
  font-size: clamp(1rem, 10vw, 2rem);
  display: flex;
  align-items: center;
  height: 68px;
}

nav svg {
  transform: translateX(-25px);
  height: 100%;
}

nav a > h1 {
  position: absolute;
  top: 17px;
  left: 34px;
  width: min-content;
}

form button {
  border: none;
  padding: 12px;
  font-family: var(--font-header);
  font-weight: 700;
  color: var(--color-accent1);
  background-color: var(--color-light);
  font-size: 1.7rem;
  cursor: pointer;
  transition: 200ms;
}

form button:hover {
  color: var(--color-accent2);
}

form button span {
  color: var(--color-darker);
  font-weight: 900;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
  flex-wrap: wrap;
  margin-block-start: 150px;
}

.header_text h1 {
  font-family: var(--font-header);
  font-weight: 700;
  font-size: clamp(1rem, 20vw, 3rem);
  color: var(--color-darker);
}

.header_text h1 span {
  font-family: "playfair";
  font-style: italic;
  font-weight: 900;
  font-size: clamp(1rem, 15vw, 3rem);
  color: var(--color-accent1);
}

.header_text p {
  font-size: 1.3rem;
  font-family: var(--font-p);
  background-color: var(--color-accent1);
  color: var(--color-light);

  padding: 50px;
}

.header_graphics {
  width: 300px;
  height: 300px;
}

header img {
  filter: grayscale(100);
  width: 100%;
}

/* Content */

main {
  border-top: solid var(--color-darker) 1px;
}

main h2 {
  font-family: var(--font-display);
  font-size: clamp(2rem, 15vw, 4rem);
  text-align: center;
  margin-top: 200px;
  letter-spacing: 0.1rem;
}

main h2 span {
  color: var(--color-accent1);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-block: 10rem;
}

.projects a {
  text-decoration: none;
}

.project {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 80vw, 1000px);
}

h3 {
  width: fit-content;
  padding-inline: 5px;
  margin-bottom: -20px;
  margin-inline: 20px;
  font-family: var(--font-header);
  font-size: clamp(0.3rem, 15vw, 2rem);
  color: var(--color-accent1);
  text-transform: uppercase;
  background-color: var(--color-light);
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  background-color: var(--color-accent1);
  z-index: -1;
  padding: 50px;
  clip-path: polygon(1px 2px, 99.8% 0.76%, 95.7% 96.92%, 1.9% 98.17%);
}

.content img {
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.content p {
  font-family: var(--font-p);
  font-size: 1.3rem;
  color: var(--color-light);
  max-width: max-content;
  max-width: 60ch;
}

.project:nth-of-type(2) .content {
  background-color: var(--color-accent2);
}

.project:nth-of-type(2) h3 {
  color: var(--color-accent2);
}

.conclusion .content {
  background-color: var(--color-accent3);
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  max-width: fit-content;
}

.project:nth-of-type(3) h3 {
  color: var(--color-accent3);
}

.project:nth-of-type(1) {
  transform: translateX(-100vw);
}
.project:nth-of-type(2) {
  transform: translateX(100vw);
}

/* Other pages */

.pageWrapper {
  display: flex;
  justify-content: center;
}

.pageMain {
  border: none;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: -1;
  background-color: var(--color-accent1);
  font-family: var(--font-p);
  font-size: 1.3rem;
  color: var(--color-light);
  max-width: max-content;
  padding: 50px;
}

.pageInner img {
  width: 100%;
  max-width: 750px;
  min-width: 50%;
  object-fit: contain;
  align-self: center;
}

@media (max-width: 550px) {
  form {
    position: absolute;
    left: 80%;
    transform: translate(-50%);
    top: 100px;
    width: max-content;
  }
}

@media (max-width: 1000px) {
  .header_text h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .header_graphics {
    padding: 10px;
    max-width: 350px;
  }

  .header_graphics {
    order: -1;
  }
  .project h3 {
    width: min-content;
  }
  .content {
    flex-wrap: wrap;
  }
}

@media (min-width: 800px) {
  .pageMain {
    width: clamp(300px, 80vw, 1500px);
    clip-path: polygon(1px 2px, 99.8% 0.76%, 95.7% 96.92%, 1.9% 98.17%);
  }

  .pageInner {
    display: flex;
    gap: 20px;
    padding: 50px;
  }

  #pageInner1 div {
    order: -1;
    min-width: 500px;
  }

  #pageInner2 {
    flex-direction: column;
  }
  #pageInner3 {
    display: flex;
    flex-direction: column;
  }

  #pageInner2 div {
    display: flex;
    gap: 20px;
  }

  .pageInner img {
    place-self: start;
  }

  .pageInner:last-child img {
    order: -1;
  }

  .header_text {
    position: relative;
    align-self: flex-start;
    z-index: 1;
    max-width: 60ch;
    min-width: 300px;
  }

  .header_text p {
    margin-top: -1.5rem;
    clip-path: polygon(12px 31px, 99.58% 3.51%, 93% 89%, 6.04% 91.9%);
  }

  .header_text h1 {
    margin-inline-start: -100px;
    background-color: none;
  }

  .header_text svg {
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -50px;
    transform: scale(1.2);
  }

  .content img {
    min-width: 400px;
  }
}

@media (min-width: 1000px) {
  header {
    height: 80vh;
  }
  .header_graphics {
    min-width: 200px;
    min-height: 200px;
    box-shadow: var(--color-accent3) 10px 10px 0px 0px;
    transform: rotate(20deg);
  }

  .project:nth-of-type(2) h3 {
    align-self: flex-end;
  }
}

.progress {
  position: fixed;
  z-index: 200;
  transform-origin: left;
  height: 5px;
  width: 100vw;
  background: linear-gradient(
    90deg,
    var(--color-accent1),
    var(--color-accent2),
    var(--color-accent3)
  );
}

footer {
  margin-top: 100px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-header);
  font-weight: 900;
  font-size: 2rem;
  color: transparent;
  background-color: var(--color-darker);
}

footer p {
  background: linear-gradient(
    230deg,
    var(--color-accent1),
    var(--color-accent2),
    var(--color-accent3)
  );
  background-clip: text;
}
